/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Cinzel', serif;
  font-size: 18px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  padding: 2%;
  text-align: center;
}

.input-fields {
  text-align: center;
}

input {
  padding: 1rem;
  font-size: 1rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav > a {
  margin: 1rem;
}

button {
  padding: 1rem;
  background-color: #00BCD4;
  border: 0;
  font-size: 1rem;
  color: white;
}

.fighters ul {
  padding: 0;
  margin: 0;
}

.fighter {
  padding: 1rem;
  margin: 1rem;
  list-style: none;
  border-bottom: 5px solid whitesmoke;
}

.fighter__contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fighter__monsters {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.fighter__monsters li {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.fighter__monsters img {
  margin: 0 1rem;
  max-width: 200px;
  max-height: 200px;
}